@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(90deg, #012e40, #025159);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #002736af;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #038c8c;
  text-align: center;
  text-shadow: 1px 1px 2px #026d6db4;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  color: #03a696;
}
p {
  /* font: italic bold 1em "Josefin Sans", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
}
